 body {
     list-style-position: inherit;
    text-align: center;
    color: palegoldenrod;
 }


 .parrafo2 {
  font-family: cursive;
  color: darkkhaki;

}

   
 
 .Barra {
    list-style-type: none;
   
 }
.logo-container-header {
  height: 80px;
  
}

.footer-container {
   font-size: 16px;
   color: black;
   background-color: honeydew;
}
.Linux-container-footer {
    height: 76px;

}

.github {
 height: 120px;
}
