 body {
     list-style-position: inherit;
    text-align: center;
    color: palegoldenrod;
 }


 .parrafo2 {
  font-family: cursive;
  color: darkkhaki;

}

    color: rgba(223, 211, 43, 0.63);
 }
 .cabecera {
background-color: rgb(230, 223, 148);


 }
 .Barra {
    list-style-type: none;

 }

.footer-container {
   font-size: 16px;
   color: black;
   background-color: honeydew;
}
.Linux-container-footer {
    height: 76px;

}